<mat-card class="stopwatch">
  <h1>{{ time | date : 'HH:mm:ss:SSS' }}</h1>

  <div class="d-flex justify-content-center">
    <button *ngIf="!isRun; else pauseBtn"
            mat-button
            color="primary"
            class="border bg-dark bg-gradient shadow-lg mx-1"
            (click)="start()"
            [disabled]="isRun">
      <mat-icon>play_arrow</mat-icon>
    </button>

    <ng-template #pauseBtn>
      <button mat-button
              color="primary"
              class="border bg-dark bg-gradient shadow-lg mx-1"
              (click)="pause()"
              [disabled]="!isRun">
        <mat-icon>pause</mat-icon>
      </button>
    </ng-template>

    <button mat-button
            color="primary"
            class="border bg-dark bg-gradient shadow-lg mx-1"
            (click)="stop()">
      <mat-icon>stop</mat-icon>
    </button>
  </div>

</mat-card>
