<mat-card class="stopwatch">
  <h1>{{ time | date : 'HH:mm:ss:SSS' }}</h1>

  <button mat-button
          color="primary"
          (click)="start()"
          [disabled]="isRun">
    <mat-icon>play_arrow</mat-icon>
  </button>

  <button mat-button
          color="primary"
          (click)="pause()"
          [disabled]="!isRun">
    <mat-icon>pause</mat-icon>
  </button>

  <button mat-button
          color="primary"
          (click)="stop()">
    <mat-icon>stop</mat-icon>
  </button>
</mat-card>
